# Version Controll
.git/
.gitconfig
.gitignore
.vscodeignore

# VSCode
.vscode/
 
# Dependancies
node_modules/
package.json

# Linting & Formatting
prettier.conf.js
babel.conf.js
.markdownlint.jsonc
.markdownlint.json
.jsbeautifyrc.json
.eslintrc.json
.babelrc.json
.markdownlintrc
.jsbeautifyrc
.prettierrc
.babelrc

# Testing
test/
*.test.js

# Logging

# Enviroment
.ENV
.env

# Temporary Storage
cache/
tmp/
*.log
CHANGELOG.md

# Configuration Files
*.conf.*
.conf.*

# Development
referance/
