# Git Version Controll
.git/*
.gitconfig
.gitignore
.gitattributes
.vscodeignore

# Editor/IDE Configuration
.vscode/*.json
.vscodeignore

# Dependancies
node_modules/*.*
package.json

# Formatting & Linting Configuration
.prettierrc
.jsbeautifyrc
.babelrc.json
.eslintrc.json
.markdownlintrc

# Testing
test/
*.test.js

# Project Logs
CHANGELOG.md
*.log

# Enviroment
.ENV
.env

# Temporary Storage
Cache/
cache/
Temp/
tmp/

# Configuration Files
*.conf.*
.conf.*

# Dev Notes & Dev Referances
.ajay/*.json
.ajay/*.txt

# Misc & Project-Unique
themes/.scope-referance.json
themes/.alt-theme-referance.json
vsc-extension-quickstart.md
themes/.*
